.home-drawer-content {
  a {
    color: hsl(var(--primary));
  }
}
.wiki-drawer-content {
  .ant-menu-inline {
    width: 100% !important;
    border-inline-end: 0 !important;
  }
}
.ant-drawer {
  .header-drawer-container {
    .ant-drawer-body {
      padding: 10px;
    }
  }
}
.header-menu.ant-menu-horizontal {
  border-bottom: 0;
  font-size: 16px;
  .ant-menu-item {
    display: flex;
    align-items: center;
    height: 60px;
    .ant-menu-title-content {
      .font-bold {
        font-weight: 400;
      }
    }
  }
}
.header-drawer-container {
  .ant-drawer-header {
    padding: 8px 16px !important;
    .ant-drawer-header-title {
      height: 42px;
    }
  }
  .ant-drawer-extra {
    width: 60%;
  }
}
